* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.details_custom_root,
.custom_root {
  padding: 0 !important;
  min-height: auto !important;
}

.details_custom_root {
  padding-left: 69px !important;
}

.no_margin {
  margin: 0 !important;
}

.accordion_root {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.hide {
  opacity: 0;
}
